/* _arch-vars-start */
$alert-color: rgba(255,173,166,1);
$base-color: rgba(135,159,197,1);
$base-gradient: matte;
$form-bg-color: rgba(249,249,249,1);

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


/* _arch-other-start */
