$alert-color: rgba(255,173,166,1);
$base-color: rgba(135,159,197,1);
$base-gradient: matte;
$list-active-color: rgba(183,200,227,1);
$list-active-gradient: matte;
$list-bg-color: rgba(249,249,249,1);
$list-header-gradient: matte;
$form-bg-color: rgba(249,249,249,1);

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';


